<div id="payee-signup-form" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/payee/payee-signup-form.less</em>, <em>assets/js/pages/payee/payee-signup-form.page.js</em>, and <em>api/controllers/payee/view-payee-signup-form.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
