<div class="fund-container container">

  <h3><%- __('title.funds') %></h3>

  <fund-list
    area-title="<%- __('title.area') %>"
    businesses-title="<%- __('title.businesses') %>"
    community-title="<%- __('title.community') %>"
    general-title="<%- __('title.general') %>"
    region-key="<%= req.param('region') %>"
    region-title="<%- region.name %>">
  </fund-list>

  <h3><%= __('title.randomWorker') %></h3>
  <%
    if (region.serviceIndustryTipsKey) {
      const sitSuffix = req.getLocale() + "/" + region.serviceIndustryTipsKey;
  %>
      <a href="https://serviceindustry.tips/<%- sitSuffix %>" target="_blank">
        <%= __('link.serviceIndustryTips') %>
      </a>
  <% } else { %>
      <a href="https://serviceindustry.tips/<%= req.getLocale() %>" target="_blank">
        <%= __('link.serviceIndustryTips') %>
      </a>
  <% } %>

</div>
