<nav id="main-nav" class="navbar navbar-expand-sm flex-column flex-md-row justify-content-between">
  <a class="navbar-brand mr-0" href="/"><h1>TipJar</h1></a>
  <ul class="navbar-nav flex-row">
    <%
      if (typeof region !== 'undefined') {
        if (region.giftCardSuffix) {
    %>
      <li class="nav-item">
        <a href="https://supportlocal.usatoday.com/city/<%= region.giftCardSuffix %>/" target="_blank">
          <%= __('link.buyGiftCard', region.name) %>
        </a>
      </li>
    <%
        }
        if (region.carryOutUrl) {
    %>
      <li class="nav-item">
        <a href="<%= region.carryOutUrl %>" target="_blank">
          <%= __('link.findCarryOut', region.name) %>
        </a>
      </li>
    <%
        }
      }
    %>
  </ul>
</nav>
