<div class="payee-container">

  <% if (region.externalUrl) { %>

    <p>
      <a href="<%= region.externalUrl %>" target="_blank"><%= region.externalUrl %></a>
    </p>

  <% } else { %>

    <h3><%- __('title.businesses') %></h3>

    <payee-list
      region-key="<%= req.param('region') %>">
    </payee-list>

  <% } %>

</div>
