<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center"><%= __('title.password.recover') %></h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center"><%= __('copy.forgotPassword.intro') %></p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="<%= __('form.email.placeholder') %>" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress"><%= __('form.email.error') %></div>
        </div>
        <p class="text-danger" v-if="cloudError"><small><%= __('form.error.cloud') %></small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block"><%= __('form.action.sendResetLink') %></ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p><%= __('copy.forgotPassword.sent') %></p>
      <hr/>
      <p><%= __('copy.forgotPassword.arrive') %></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
