<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center"><%= __('title.signIn') %></h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress"><%= __('form.email.loginError') %></div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password"><%= __('form.password.loginError') %></div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember"><%= __('form.rememberMe.label') %></label>
        </div>
        <p class="text-danger" v-if="cloudError==='badCombo'"><small><%= __('form.error.badCombo') %></small></p>
        <p class="text-danger" v-else-if="cloudError"><small><%= __('form.error.cloud') %></small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block"><%= __('form.action.signIn') %></ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot"><%= __('link.forgotPassword') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
