@footer-height: 3.75em;
@container-md-max-width: 1100px;

[v-cloak] { display: none; }

html, body {
  height: 100%;
  margin: 0;
}

body > div {
  margin-bottom: 9em;
}

h2, h3, h4 {
  color: @accent-title;
  margin-top: 1em;
}

.container {
  margin-top: 1em;
  margin-bottom: 2em;
}

.nav-item {
  display: block;
}

#main-nav {
  .nav-item {
    padding: 0 2em;
  }
}

#page-wrap {
  height: 100%;
  /* lesshint-disable */height: auto !important;/* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;

  header {
    .logo {
      height: 20px;
    }
    a {
      cursor: pointer;
    }
    .dropdown-menu.account-menu {
      left: auto;
      right: 0px;
    }
  }
}

#page-header {
  background-color: @brand;
  color: @accent-white;

  a {
    color: @text-muted;
  }
}

#page-footer {
  background: @accent-md-gray;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: @accent-white;
  padding: 1em;
  height: @footer-height;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  .xs-only {
    display: none;
  }

  a {
    color: @accent-lt-gray;
  }
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

@media (max-width: 800px) {
  #page-wrap {
    padding-bottom: 75px;
    #page-footer {
      height: 75px;
      .copy, .nav {
        width: 100%;
        display: block;
        text-align: center;
        .nav-item {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #page-wrap {
    padding-bottom: 85px;
    #page-footer {
      height: 85px;
      .xs-only {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  .fund-list, .payee-list, .region-list {
    > div {
      columns: 2;

      ul.nav {
        display: block;

        li {
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .fund-list, .payee-list, .region-list {
    > div {
      columns: 3;
    }
  }
}

@media (min-width: 1200px) {
  .fund-list, .payee-list, .region-list {
    > div {
      columns: 4;
    }
  }
}
