<div id="contact" v-cloak>
  <div class="container">
    <h1 class="text-center"><%= __('title.contact') %></h1>
    <div class="contact-form" v-if="!cloudSuccess">
      <p class="text-center"><%= __('copy.contact.intro') %></p>
      <hr/>
      <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name"><%= __('form.name.label') %></label>
          <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="<%= __('form.name.placeholder') %>" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName"><%= __('form.name.error') %></div>
        </div>
        <div class="form-group">
          <label for="email-address"><%= __('form.email.label') %></label>
          <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="<%= __('form.email.placeholder') %>" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress"><%= __('form.email.error') %></div>
        </div>
        <div class="form-group">
          <label for="topic"><%= __('form.topic.label') %></label>
          <input class="form-control" id="topic" name="topic" type="text"  :class="[formErrors.topic ? 'is-invalid' : '']" v-model.trim="formData.topic" placeholder="<%= __('form.topic.placeholder') %>" autocomplete="none">
          <div class="invalid-feedback" v-if="formErrors.topic"><%= __('form.topic.error') %></div>
        </div>
        <div class="form-group">
          <label for="message"><%= __('form.message.label') %></label>
          <textarea class="form-control" id="message" name="message" :class="[formErrors.message ? 'is-invalid' : '']" v-model.trim="formData.message" placeholder="<%= __('form.message.placeholder') %>" autocomplete="none"></textarea>
          <div class="invalid-feedback" v-if="formErrors.message"><%= __('form.message.error') %></div>
        </div>
        <p class="text-danger" v-if="cloudError"><small><%= __('form.error.cloud') %></small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block"><%= __('form.action.sendEmail') %></ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p class="text-center"><%= __('copy.contact.thanks') %></p>
      <hr/>
      <p><%= __('copy.contact.received') %></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
